.section-our-team {
    &.section-our-team--style-v1 {
        &.green_bg {
            background-color: var(--color-lt-accent-1);
            
            .desktop {
                path[stroke] {
                    stroke: var(--color-lt-light-1);
                }
            }

            .section-our-team {
                &__title {
                    color: var(--color-lt-light-1);
                }

                &__description {
                    color: var(--color-lt-light-1);
                }
                
                &__slider-pagination {
                    color: var(--color-lt-light-1);
                }

                &__gallery-thumbs-item::after {
                    background-color: rgba(var(--color-lt-accent-1-RGB), 0.49);
                }
            }
        }
    }
}