.theme-light {
    .section-service-intro {
        &.section-service-intro--style-v1 {
            .section-service-intro {
                &__gallery {
                    margin-left: 0;

                    &-thumbs {
                        .swiper-slide-thumb-active {
                            .section-service-intro__gallery-thumbs-item {
                                &::after {
                                    .theme-light & {
                                        box-shadow: inset 0 0 0 0.5rem var(--color-lt-accent-2);
                                    }
                                }
                            }
                        }
                    }
                }

                &__bg {
                    &::before {
                        .theme-light & {
                            background-color: var(--color-lt-accent-1);
                        }
                    }
                }

                &__main {
                    .section-title--style6 {
                        &.section-service-intro__subtitle {
                            .theme-light & {
                                color: var(--color-lt-light-1);
                                font-weight: normal;
                            }
                        }  
                    }
                }
            }
        }
    }
}