.section-resources {
	&.section-resources--style-v1,
	&.section-resources--style-v2  {
		.resources-card {
			&::before {
				.theme-light & {
					background-color: rgba(var(--color-lt-accent-2-RGB), 0.8);
				}
			}
		}
	}

	&.section-resources--style-v2 {		
		.widget_categories {
			ul {
				a {
					&:hover,
					&:focus {
						@media not (pointer: coarse), (hover: hover) and (pointer: fine) {
							.theme-light & {
								color: var(--color-lt-accent-2);
							}
						}
					}
				}

				.current-cat {
					a {
						.theme-light & {
							color: var(--color-lt-accent-2);
						}
					}
				}
			}
		}

		.article-block__footer {
			.article-link {
				.theme-light & {
					color: var(--color-lt-accent-2);
				}

				&:hover,
				&:focus{
					.theme-light & {
						@media not (pointer: coarse), (hover: hover) and (pointer: fine) {
							color: var(--color-lt-accent-1);
						}
					}
				}

				&.disabled{
					.theme-light & {
						color: rgba(var(--color-lt-accent-2-RGB), 0.4);
					}
				}
			}
		}
	}
}