.section-testimonials {
	&.section-testimonials--style-v3 {
	  &.green_bg {
		background-color: var(--color-lt-accent-1);

		.section-testimonials__slider {
			.testimonials-card__logo {
				color: var(--color-lt-accent-1);
			}
	    }

		.star-rating__icon {
			color: var(--color-lt-accent-2);
		}

		.section-testimonials__title {
			color:var(--color-lt-light-1);
		}

		.section-testimonials__rate-info {
			color:var(--color-lt-light-1);
		}

		.swiper-controls--circle {
			box-shadow: 0 0 2rem var(--color-lt-accent-2);

			.swiper-button-prev {
				background-color: var(--color-lt-accent-2);
			}

			.swiper-button-next {
				background-color: var(--color-lt-accent-2);
			}

			button.swiper-button-prev:hover {
					@media not (pointer: coarse), (hover: hover) and (pointer: fine) {
					background-color: var(--color-lt-light-1) !important;

					svg{
						color: var(--color-lt-accent-2);
					}
				}
			}

			button.swiper-button-next:hover {
					@media not (pointer: coarse), (hover: hover) and (pointer: fine) {
					background-color: var(--color-lt-light-1) !important;

					svg{
						color: var(--color-lt-accent-2);
					}
				}
			}
		}
	  }
	}
}