.section-our-team {
	&.section-our-team--style-v1 {
		.theme-light & {
			background-color: var(--color-lt-accent-1);
		}
		
		.swiper-button{
			svg{
				path[stroke] {
					.theme-light & {
						stroke: var(--color-lt-light-1);
					}
				}
			}
		}

		.section-our-team {
			&__title,
			&__description,
			&__slider-pagination  {
				.theme-light & {
					color: var(--color-lt-light-1);
				}
			}

			&__gallery-thumbs-item{
				&::after {
					.theme-light & {
						background-color: rgba(var(--color-lt-accent-1-RGB), 0.49);
					}
				}
			}
		}
	}
}

