.page-footer {
	.theme-light & {
		color: var(--color-lt-light-1);
		background-color: var(--color-lt-accent-2);
		border-bottom: 0;
	}

	&__info {
		&.page-footer__info--v1 {
			.button-bordered {
				.theme-light & {
					color: var(--color-lt-light-1);
				}

				&::after {
					.theme-light & {
						background: var(--color-lt-light-1);
					}
				}
	
				&::before {
					.theme-light & {
						border: 0.2rem solid var(--color-lt-light-1);
					}
				}

				&:hover,
				&:focus {
					@media not (pointer: coarse), (hover: hover) and (pointer: fine) {
						.theme-light & {
							color: var(--color-lt-dark);
						}
					}
				}
			}

			.menu {
				a {
					.theme-light & {
						color: rgba(var(--color-lt-light-1-RGB), 80%);
						font-size: 1.6rem;
						line-height: 2.4rem;
					}
					
					&:hover {
						@media not (pointer: coarse), (hover: hover) and (pointer: fine) {
							.theme-light & {
								color: var(--color-lt-accent-1);
							}
						}
					}
				}
			}
		
			.footer-contact-info {
				.address-link,
				.phone-number,
				.social-item {
					.theme-light & {
						color: var(--color-lt-light-1) !important;
					}
				}
	
				.social-item {
					.theme-light & {
						background-color: rgba(var(--color-lt-light-1-RGB), 0.1) !important;
					}
				}
			}
		}
	}

	&__copyright {
		&-container {
			.block-left {
					.item-sitemap {
						.theme-light & {
							color: rgba(var(--color-lt-light-1-RGB), 0.5);
						}
					}
				}

			.block-right {
				.theme-light & {
					color: rgba(var(--color-lt-light-1-RGB), 0.5);
				}

				.item-design {
					.text,
					.design-link {
						.theme-light & {
							color: rgba(var(--color-lt-light-1-RGB), 0.5);
						}
					}
				}
			}
		}
	}
}