.section-benefits {
	.theme-light & {
		background-color: var(--color-lt-accent-2);
	}
	 
	.service {
		.theme-light & {
			background-color: var(--color-lt-light-1);
		}

		&-grid {
			padding: 0.4rem;
			flex: 1 0 16%; 
			max-width: 100%; 
		}
	}
}