.section-seo-content{
	&.section-seo-content--style-v1 {
		&.green_bg{
			background-color: var(--color-lt-accent-2);

			.seo-content__text-content::before {
				background-color: var(--color-lt-accent-1);
			}
	
			.seo-content__text-content::after {
			background-color: var(--color-lt-accent-1);
			}
	
			.seo-content__title{
				font-size:80px !important;
				color:white;
			}
	
			.seo-content__description{
				color:white;
	
			}
	
			.button{
				background-color: var(--color-lt-accent-2);
			}
	
			.button:hover{
				background-color: var(--color-lt-accent-1) ;
				border: 1px solid white;
				box-shadow: 0 0 0.5rem white, 0.7;
			}
			
			.button:focus{
				background-color: var(--color-lt-accent-1) ;
				border: 1px solid white;
			}
	
		}

		&.orange_bg{
		.seo-content__text-content::before {
			background-color: rgb(236 106 32);
		}

		.seo-content__text-content::after {
		background-color: rgb(236 106 32);
		}

		.seo-content__title{
			color:white;
		}

		.seo-content__description{
			color:white;
		}

		.seo-content__description-hidden{
			.collapse-content{
				color:white;
			}
		}

		.button{
			background: var(--color-lt-accent-1);
			box-shadow: 0 0 5rem rgba(var(--color-lt-accent-1-RGB), 70%);
			width: 205px !important;
		}

		.button:hover{
			background-color: white;
			color: var(--color-lt-accent-1);
			box-shadow: 0 0 0.5rem rgba(255, 255, 255, 70%);
			width: 205px !important;
		}
		
		.button:focus{
			background-color: white;
			color: var(--color-lt-accent-1);
			width: 205px !important;
			box-shadow: 0 0 0.5rem rgba(255, 255, 255, 70%);
		}

	}
}

	&.section-seo-content--style-v2{
		&.orange_bg{
			&.section-bottom-padding--none{
				padding-bottom: 0;
			}

			.seo-content__text-content::before{
				background-color: var(--color-lt-accent-2);
				height: 100%;
			}

			.seo-content__text-content::after{
				background-color: var(--color-lt-accent-2);
				height: 100%;
			}
		}

		&.green_bg{
			background-color: var(--color-lt-accent-1) ;

			.seo-content__title{
				color:white;
			}

			.seo-content__description{
				color:white;

			}

			.button{
				background: var(--color-lt-accent-2);
				box-shadow: 0 0 5rem rgba(var(--color-lt-accent-2-RGB), 70%);
			}

			.button:hover{
				background: white;
				color:var(--color-lt-accent-2);
				box-shadow: 0 0 0.5rem rgba(255, 255, 255, 70%);
			}
			
			.button:focus{
				background: white;
				color:var(--color-lt-accent-2);
				box-shadow: 0 0 0.5rem rgba(255, 255, 255, 70%);
			}

			.seo-content__text-content::before{
				background-color: transparent;
			}

			.seo-content__text-content::after{
				background-color: transparent;
			}
		}
	}
}