.section-intro { 
	&.section-intro--style-v3 { 
 		.section-intro { 
 			&__main { 
 				max-width: 100% !important; 
 			} 
 
 			&__title { 
 			max-width: 70% !important; 
 			}
 		} 
	} 
}

@media (max-width: 600px) {
    .section-intro { 
        &.section-intro--style-v3 { 
            .section-intro__title { 
                font-size: 14px; 
            } 
        } 
    } 
}