.section-seo-content {
	&.section-seo-content--style-v1 {
		&.green_bg {
			.theme-light & {
				background-color: var(--color-lt-accent-2);
			}

			.seo-content {
				&__text-content {
					&::before,
					&::after {
						.theme-light & {
							background-color: var(--color-lt-accent-1);
						}
					}
				}

				&__title {
					.theme-light & {
						font-size: 8rem;
					}
				}

				&__title,
				&__description {
					.theme-light & {
						color: var(--color-lt-light-1);
					}
				}
			}
	
			.button {
				.theme-light & {
					color: var(--color-lt-accent-1);
					background: var(--color-lt-accent-2);
					box-shadow: 0 0 5rem rgba(var(--color-lt-accent-2-RGB), 70%);
				}

				&:hover,
				&:focus {
					@media not (pointer: coarse), (hover: hover) and (pointer: fine) {
						.theme-light & {
							background-color: var(--color-lt-accent-1);
							border: 0.1rem solid var(--color-lt-light-1);
							box-shadow: 0 0 0.5rem var(--color-lt-light-1), 0.7;
						}
					}
				}
			}
		}

		&.orange_bg {
			.seo-content {
				&__text-content {
					&::before,
					&::after  {
						.theme-light & {
							background-color: var(--color-lt-accent-2);
						}
					}
				}

				&__title,
				&__description {
					.theme-light & {
						color: var(--color-lt-light-1);
					}
				}

				&__description-hidden {
					.collapse-content {
						.theme-light & {
							color: var(--color-lt-light-1);
						}
					}
				}
			}

			.button {
				.theme-light & {
					background: var(--color-lt-accent-1);
					box-shadow: 0 0 5rem rgba(var(--color-lt-accent-1-RGB), 70%);
					width: 20.5rem;
				}

				&:hover,
				&:focus {
					@media not (pointer: coarse), (hover: hover) and (pointer: fine) {
						.theme-light & {
							background-color: var(--color-lt-light-1);
							color: var(--color-lt-accent-1);
							box-shadow: 0 0 0.5rem rgba(var(--color-lt-light-1), 70%);
							width: 20.5rem;
						}
					}
				}
			}
		}
	}


	&.section-seo-content--style-v2 {
		&.section-bottom-padding--none {
			padding-bottom: 0;
		}

		&.orange_bg {
			.seo-content__text-content {
				&::before,
				&::after {
					.theme-light & {
						background-color: var(--color-lt-accent-2);
						height: 100%;
					}
				}
			}
		}

		&.green_bg {
			.theme-light & {
				background-color: var(--color-lt-accent-1);
			}

			.seo-content {
				&__text-content {
					&::before,
					&::after {
						.theme-light & {
							background-color: transparent;
						}
					}
				}

				&__title,
				&__description {
					.theme-light & {
						color: var(--color-lt-light-1);
					}
				}
			}

			.button {
				.theme-light & {
					background: var(--color-lt-accent-2);
					box-shadow: 0 0 5rem rgba(var(--color-lt-accent-2-RGB), 70%);

					&:hover,
					&:focus {
						@media not (pointer: coarse), (hover: hover) and (pointer: fine) {
							background: var(--color-lt-light-1);
							color: var(--color-lt-accent-2);
							box-shadow: 0 0 0.5rem rgba(var(--color-lt-light-1), 70%);
						}
					}
				}
			}
		}
	}
}