.theme-light {
    .section-services {
      &.section-services--style-v4 {
        .section__bg::before {
            background-color: var(--color-lt-accent-1);
            mask-image: linear-gradient(180deg, var(--color-lt-light-1) 0%, rgba(var(--color-lt-light-1-RGB), 0%));
        }

        .section__body {
            .section-services__thumbs-nav {
                background: var(--color-lt-accent-1);
            }
                
            .section-services__thumbs-wrapper {
                .swiper-slide-thumb-active {
                    .section-services__thumb-item-background {
                        &::after {
                            background-color: rgba(var(--color-lt-accent-1-RGB), 0.8);
                        }    
                    }
                }
            }
        }
      }
    }
}