.section-contact-us{
	&.section-contact-us--style-v2{
		background-color: white !important;
	}
	
	&.section-contact-us--style-v1{
		&.orange_bg{
			background-color: var(--color-lt-accent-2);

			.section__bg::after {
				background: none !important;
			}
		}
		
	}
}